.styled-select.filter select {
    pointer-events: none;
}

.styled-select select {
    background: transparent;
    width: 370px;
    height: 45px;
    padding-left: 10px;
    font: 16px Lato;
    color: #333;
    line-height: 1;
    border: 0;
    border-radius: 0;
    -webkit-appearance: none;
    pointer-events: none;
}

.styled-select select::-ms-expand {
    display: none !important;
}

.styled-select {
    width: 320px;
    height: 45px;
    overflow: hidden;
    background: url(../img/urban-select-2x.png) no-repeat right #EFEFEF;
    background-size: 45px 45px;
    border: none;
    z-index: 2;
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
}

*:focus {
    outline: 0;
}