body {
    font-family: Lato, sans-serif !important;
    font-weight: 400;
    font-size: 16pt;
    color: #666;
    margin-bottom: 15px;
}

.maincontent {
    padding-top: 65px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333;
}

h1 {
    font: 400 30px/1.3em Lato, sans-serif;
    margin: 0 0 .5em;
}

h2 {
    font: 400 24px/1.3em Lato, sans-serif;
    margin: 0 0 .5em;
}

h3 {
    font: 400 20px/1.3em Lato, sans-serif;
    margin: 0 0 .5em;
}

h4 {
    font: 600 16px/1.3em Lato, sans-serif;
    margin: 0 0 .5em;
}

h5 {
    font: 700 14px/1.3em Lato, sans-serif;
    margin: 0 0 .5em;
    text-transform: uppercase;
}

h6 {}

p,
ul,
li {
    font: 400 16px/24px Lato, sans-serif;
    margin: 0 0 .5em;
    color: #666;
}

hr {
    width: 150px;
    display: inline-block;
    border: 3px solid #1696d2 !important;
    margin-top: 55px !important;
    margin-bottom: 55px !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p a {
    color: #1696d2;
    text-decoration: none;
}

p a:hover {
    color: #1696d2;
}

li {
    list-style: square;
}

.label {
    font-size: 12px;
    color: #0096d2;
    text-transform: uppercase;
    margin-bottom: 14px;
}

.byline {
    font: 600 16px/22px Lato, sans-serif;
    color: #333;
}

.date {
    /*     text-align: center;*/
    
    font: italic 14px Georgia, serif;
    color: #666;
}

.intro-text {
    font: 400 20px/26px Lato, sans-serif;
    color: #333;
}

.large-body {
    font: 400 18px/24px Lato, sans-serif;
}

.image-caption {
    /*    font: normal 400 14px/20px Lato,sans-serif;*/
    
    font-family: Georgia, serif;
    font-size: 12px;
    line-height: 16px;
    font-style: italic;
    color: #333;
    margin-bottom: 20px;
}

.image-credit {
    float: right;
    font: normal 400 12px Lato, sans-serif;
    text-transform: uppercase;
    /*    padding-top:2px;*/
}

.block-quote {
    position: relative;
    display: block;
    margin: 40px 0;
    padding: 35px 0;
    color: #666;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    font: italic 400 16px/25px Georgia, serif;
}

.block-quote:before {
    position: absolute;
    top: -16px;
    left: 50%;
    bottom: auto;
    right: auto;
    display: block;
    background-repeat: no-repeat;
    background-image: url(http://www.urban.org/sites/all/themes/urban/images/generated/icons-s8fe141aaaa.png);
    background-position: 0 -2663px;
    height: 32px;
    width: 50px;
    content: "\0020";
    z-index: 1;
    width: 50px;
    height: 32px;
    margin-left: -18px;
    background-color: #fff;
}

.quote-attribution {
    display: block;
    font-family: Lato, sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    margin-top: 20px;
}

.copy {
    font-size: 0.75em;
}

.charttitle {
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
}

#statbtns {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100% !important;
    display: table !important;
}

.urban-button {
    font-size: 14px;
    font-family: Lato, sans-serif;
    padding: 14px;
    cursor: pointer;
    border: none;
    color: #ffffff;
    background-color: #000;
    display: table-cell !important;
    line-height: 12px;
    /*text-transform: uppercase;*/
    text-align: center;
    margin-right: 0px;
    white-space: normal !important;
    border-radius: 0px;
}

.urban-button:hover,
.urban-button.selected,
.urban-button.active,
.urban-button:checked {
    background-color: #fdbf11;
    color: #000000;
    text-decoration: none;
}

.source {
    font-size: 12px;
}

p.note {
    font-size: 0.9em;
    font-style: italic;
}